:root {
  --bgcolor-primary: hsl(0, 0%, 75%);

  --bgcolor-secondary: hsl(0, 0%, 100%);
  
  --accent-color-dark: hsl(0, 0%, 25%);
  --accent-color-primary: hsl(356, 100%, 35%);
  --accent-color-secondary: hsl(135, 100%, 25%);


  --border-radius: 4px;
}

.non {


}